.cycle {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
}

.cycle_dots {
    display: flex;
    gap: 0.5rem;
}

.cycle_dot {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 1rem;
}

.work_time {
    background: var(--warning);
}

.rest_time {
    background: var(--primary);
}

.long_rest_time {
    background: var(--info);
}
